h1 {
	font-size: 38pt; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
}

h2 {
	font-size: 30pt; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
}

p {
	font-size: 18pt; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
}

nav {
	font-size: 22pt; 
	font-family: 'Myriad Pro', sans-serif;
	color: #ffffff;
}

body {
	font-size: 18pt; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
	background-color: #eeeeee
}

footer {
	font-size: 18pt; 
	font-family: 'Dosis', sans-serif;
	color: #ffffff;
	background-color: #da6235
}