body {
	font-size: 18px; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

article a, {
	color: #ab2f00;
	text-decoration: none;
}

article a:hover, {
	text-decoration: underline;
}

header a, footer a {
	color: #ffffff;
	text-decoration: none;
}

header a, footer a:hover {
	color: #ab2f00;
}

h1 {
	font-size: 38px; 
	font-family: 'Dosis', sans-serif;
	font-weight: lighter;
	color: #333333;
	padding-left: 24px;
}

h2 {
	font-size: 30px; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
	padding-left: 24px;
	font-weight: lighter;
}

p {
	font-size: 18px; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
	padding-left: 24px;
}

nav.header-menu {
	font-size: 22px; 
	font-family: 'Cuprum', sans-serif;
	color: #ffffff;
	background-color: #ab2f00;
}

ul.header-menu li {
    display: inline-block;
	color: #ffffff;

	line-height: 2;
	margin-right: 28px;
	margin-left: 0;
	width: auto;
	text-align: left;
}

footer {
	font-size: 18px; 
	font-family: 'Dosis', sans-serif;
	color: #ffffff;
	background-color: #da6235
}