
body {
	font-size: 18px; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
	background-color: #eeeeee;
	margin: 0 auto;
	padding: 0;
	max-width: 948px;
}

article a {
	color: #da6235;
	text-decoration: none;
}

article a:hover {
	text-decoration: underline;
}

header a, footer a {
	color: #ffffff;
	text-decoration: none;
}

header a {
	padding: 8px;
}

footer a:hover {
	color: #ab2f00;
}

header a:hover {
	background-color: #da6235;
	padding: 8px;
}

h1 {
	font-size: 38px; 
	font-family: 'Dosis', sans-serif;
	font-weight: lighter;
	color: #333333;
	padding-left: 24px;
}

h2 {
	font-size: 30px; 
	font-family: 'Dosis', sans-serif;
	color: #333333;
	padding-left: 24px;
	font-weight: lighter;
	margin: 25px 0px 5px 0px;
}

p {
	font-size: 18px; 
	font-weight: lighter;
	font-family: 'Dosis', sans-serif;
	color: #333333;
	padding-left: 24px;
	padding-top: 12px;
	margin: 0;
}

nav.header-menu {
	font-size: 22px; 
	font-family: 'Cuprum', sans-serif;
	color: #ffffff;
	background-color: #ab2f00;
}

ul.header-menu li {
    display: inline-block;
	color: #ffffff;
	line-height: 2;
	margin-right: 20px;
	margin-left: 0;
	width: auto;
	text-align: left;
}

footer {
	font-size: 16px; 
	font-family: 'Dosis', sans-serif;
	color: #ffffff;
	background-color: #da6235
}
